.login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.contenedor-formulario{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    justify-items: center;
}
.logo{
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}
.titulo{
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
}
.subtitulo{
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 36px;
    text-align: center;
}
.email-imag{
    width: 132px;
    height: 132px;
    border-radius: 50px;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
.email-imag img{
    width: 80px;
}
.reenviar{
    font-size: var(--sm);
}
.reenviar span{
    color: var(--very-light-pink);
}
.reenviar a{
    color: var(--hospital-green);
    text-decoration: none;
}
.label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}
.input{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 28px;
    font-size: var(--md);
    padding: 4px;
    margin-bottom: 12px;
}
.formulario{
    display: flex;
    flex-direction: column;
}
.primary-button{
    background-color: var(--hospital-green);
    border: none;
    border-radius: 8px;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 60px;
}
.login-button{
    margin-top: 14px;
    margin-bottom: 30px;
}
@media (max-width: 640px){
    .logo{
        display: block;
    }
}