@import 'vars';

    .login{
        width: 100%;
        height: 100vh;
        display: grid;
        place-items: center;
    }
    .contenedor-formulario{
        display: grid;
        grid-template-rows: auto 1fr auto;
         width: 300px;
    }
    .logo{
        width: 150px;
        margin-bottom: 48px;
        justify-self: center;
        display: none;
    }
    .titulo{
        font-size: var(--lg);
        margin-bottom: 12px;
        text-align: center;
    }
    .subtitulo{
        color: var(--very-light-pink);
        font-size: var(--md);
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 36px;
        text-align: center;
    }
    .label{
        font-size: var(--sm);
        font-weight: bold;
        margin-bottom: 4px;
    }
    .input{
        background-color: var(--text-input-field);
        border: none;
        border-radius: 8px;
        height: 28px;
        font-size: var(--md);
        padding: 4px;
        margin-bottom: 12px;
    }
    .formulario{
        display: flex;
        flex-direction: column;
    }
    .primary-button{
        background-color: var(--hospital-green);
        border: none;
        border-radius: 8px;
        color: var(--white);
        width: 100%;
        cursor: pointer;
        font-size: var(--md);
        font-weight: bold;
        height: 60px;
    }
    .login-button{
        margin-top: 14px;
        margin-bottom: 30px;
    }
    @media (max-width: 640px){
        .logo{
            display: block;
        }
    }
